:root{
    --primary:#262c56;
    --secondary:#32396b;
}



*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}


body{

    min-height: 100vh;
    background-color: #808bef;

    display: grid;
    place-items: center;

}

.slider{
    width: 80vw;
    background-color: var(--primary);
    color: #fff;
    padding: 1rem;
    border-radius: .6rem;
    position: relative;
}

.slider .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6rem;
    height: 100%;
    padding: .5rem;

    display: flex;
    align-items: center;
}


.slider .icon.hide{
    display: none;
}

.slider .icon:first-child{
    background: linear-gradient(to right,var(--primary) 45%,transparent);
    height: 7vh;
    
}
.slider .icon:last-child{
    justify-content: flex-end;
    right: 0;
    background: linear-gradient(to left, var(--primary) 45%,transparent);
    height: 7vh;
}

.icon .left-arrow,
.icon .right-arrow{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;

   
    text-align: center;
    font: 200 1.5rem / 2.4rem "poppins", sans-serif;
}

.icon span:hover{
    background-color: #fff2;
    cursor: pointer;
}


.slider .tabs{
    min-width: 99%;
    list-style: none;
    display: flex;
    gap: .8rem;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider .tabs::-webkit-scrollbar{
    display: none;
}

.tabs .tab{
    white-space: nowrap;
    background-color: var(--secondary);
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 1.3rem;
    transition: .2s ease-in-out;
}

.tabs .tab:hover{
    background-color: #fff2;
    cursor: pointer;
}

.tabs .tab.active{
    background-color: whitesmoke;
    color: #111;
}